# Зависимости
node_modules/

# Секреты (НИКОГДА не заливать!)
.env

# База данных (создаётся автоматически)
db.json

# Логи
*.log
npm-debug.log*

# Системные файлы
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Временные файлы
*.tmp
